In [1]:
import pandas as pd

In [ ]:
data = pd.read_csv(r"F:\Willy's Project\Project\Sentiment Analysis and Stock Forecasting\data\numeric_sentiment.csv")
data

         Tanggal  Sentimen
0     04/01/2024         0
1     04/01/2024         0
2     06/01/2024         0
3     02/01/2024         0
4     04/01/2024         0
...          ...       ...
4511  26/05/2025         0
4512  28/05/2025         0
4513  27/05/2025         0
4514  27/05/2025         0
4515  23/05/2025         0

[4516 rows x 2 columns]

In [3]:
# jadikan tangal menjadi datetime dengan format dd/mm/yyyy
data['Tanggal'] = pd.to_datetime(data['Tanggal'], format='%d/%m/%Y')

In [4]:
# cek kembali tipe data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4516 entries, 0 to 4515
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Tanggal   4516 non-null   datetime64[ns]
 1   Sentimen  4516 non-null   int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 70.7 KB

In [5]:
# hitung rata-rata sentimen per-hari
df_sentiment_daily = data.groupby('Tanggal')['Sentimen'].mean().reset_index()

In [6]:
# shft satu langkah ke depan, dengan membuat kolom baru
df_sentiment_daily['sentiment_score_lag1'] = df_sentiment_daily['Sentimen'].shift(1)

In [7]:
df_sentiment_daily

       Tanggal  Sentimen  sentiment_score_lag1
0   2024-01-01  0.000000                   NaN
1   2024-01-02  0.250000              0.000000
2   2024-01-03  0.000000              0.250000
3   2024-01-04 -0.083333              0.000000
4   2024-01-05  0.000000             -0.083333
..         ...       ...                   ...
373 2025-05-26 -0.035714             -0.166667
374 2025-05-27  0.076923             -0.035714
375 2025-05-28 -0.034483              0.076923
376 2025-05-29 -0.105263             -0.034483
377 2025-05-30  0.333333             -0.105263

[378 rows x 3 columns]

In [8]:
# karena kolom 'sentiment_score_lag1' memiliki nilai NaN pada baris pertama, kita ganti dengan 0
df_sentiment_daily['sentiment_score_lag1'].fillna(0, inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_19172\1375306654.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sentiment_daily['sentiment_score_lag1'].fillna(0, inplace=True)

In [9]:
df_sentiment_daily

       Tanggal  Sentimen  sentiment_score_lag1
0   2024-01-01  0.000000              0.000000
1   2024-01-02  0.250000              0.000000
2   2024-01-03  0.000000              0.250000
3   2024-01-04 -0.083333              0.000000
4   2024-01-05  0.000000             -0.083333
..         ...       ...                   ...
373 2025-05-26 -0.035714             -0.166667
374 2025-05-27  0.076923             -0.035714
375 2025-05-28 -0.034483              0.076923
376 2025-05-29 -0.105263             -0.034483
377 2025-05-30  0.333333             -0.105263

[378 rows x 3 columns]

In [10]:
# bulatkan nilai agar mudah dibaca
df_sentiment_daily['sentiment_score_lag1'] = df_sentiment_daily['sentiment_score_lag1'].round(2)

In [11]:
df_sentiment_daily

       Tanggal  Sentimen  sentiment_score_lag1
0   2024-01-01  0.000000                  0.00
1   2024-01-02  0.250000                  0.00
2   2024-01-03  0.000000                  0.25
3   2024-01-04 -0.083333                  0.00
4   2024-01-05  0.000000                 -0.08
..         ...       ...                   ...
373 2025-05-26 -0.035714                 -0.17
374 2025-05-27  0.076923                 -0.04
375 2025-05-28 -0.034483                  0.08
376 2025-05-29 -0.105263                 -0.03
377 2025-05-30  0.333333                 -0.11

[378 rows x 3 columns]

In [12]:
# ubah nama kolom sentiment_score_lag1 menjadi sentiment_score
df_sentiment_daily.rename(columns={'sentiment_score_lag1': 'Sentiment_Score'}, inplace=True)

In [13]:
# ambil hanya kolom 'Tanggal' dan 'sentiment_score'
df_sentiment_daily = df_sentiment_daily[['Tanggal', 'Sentiment_Score']]

In [ ]:
# simpan file ke CSV
df_sentiment_daily.to_csv(r"F:\Willy's Project\Project\Sentiment Analysis and Stock Forecasting\data\daily_sentiment.csv", index=False)